@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --baseColor: #2fc54b;
  --lighter: oklch(from var(--baseColor) clamp(0, l + 0.02, 1) calc(c * 0.9) h);
  --darker: oklch(from var(--baseColor) clamp(0, l - 0.4, 1) calc(c * 0.92) h);
  --comp: hsl(from var(--baseColor) calc(h + 100) s l);
}
body{
    overflow-x: hidden;
}
#Home{
    background-image: url('./assets/homeV1-bg.jpg');
    background-size: cover;
}
.font-inter {
    font-family: "Inter";
}
.font-kavoon {
    font-family: "Kavoon";
}
.font-poppins {
    font-family: "Poppins";
}
.font-merri {
    font-family: "Merriweather";
}
/*Navbar Custom Styles*/

#Logo {
    font-family: 'Kavoon';
    font-weight: 700;
}
#Menu li{
    cursor: pointer;
    font-family: "Inter";
}
#Menu li:hover {
      transition: all 0.3s ease;
      color:  var(--baseColor);
}

/* Home Page Custom Styling */
#TitleText {
    line-height: 1.1;
}
.u-btn{
    background-color: var(--baseColor);
    font-family: 'Inter';
    padding: 0.5rem;
    color: white;
    transition: all 0.2s ease;
}
.text-shadow{
    text-shadow: 1px 1px  4px solid black;
}
.u-btn3{
    padding: 10px 8px;
    font-family: 'Inter';
    font-weight: 400;
    color: white;
    transition: all 0.2s ease;
    border: solid 1px  var(--baseColor);
}
.u-btn3:hover{
    background: var(--baseColor);
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
    appearance: textfield;
   -moz-appearance: textfield;
}

@media (max-width: 1024px) {
.u-btn{
    padding: 10px 8px;
    font-size: 14px;
}
#carousel2::scroll-button(right),#carousel2::scroll-button(left){
    display: none;
}
}
.u-btn2 {
   color: rgb(210, 47, 47);
    padding: 5px 10px;
    font-family: 'Inter';
    font-weight: 500;

}
.u-btn:hover {
    color: black;
}
.u-btn2:hover {
    color: rgb(108, 27, 27);
}


#catContainer{
    overflow-x: auto;
}
#catContainer::-webkit-scrollbar{
    display: none;
}
/* Custom styling the book card */

.pageMoveBtn{
background-color: black;
color: white;
}
/* Custom Carousel with only css*/
#carousel{
    overflow-x: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
}
#carousel::scroll-button(right),#carousel::scroll-button(left){
    content: '>';
    border: none;
    font-family: Consolas;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    font-weight: bold;
    padding-bottom: .1em;
    border-radius: 50%;
    background-color: var(--baseColor);
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -100%;

}
#carousel::scroll-button(left){
    content: '<';
    position-area: left center;
    translate: 100%;
}
#carousel::scroll-button(right):disabled,#carousel::scroll-button(left):disabled{
    color: rgb(193, 193, 193);
}
#carousel::-webkit-scrollbar{
    display: none;
}

.carousel-item{
    scroll-snap-align: center;
    padding: .5em;
    flex: 0 0 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
/* Carousel 2 for latest books componnet */
#carousel2{
     scroll-behavior: smooth;
     scroll-snap-type: x mandatory;
     anchor-name: --carousel2;
     scroll-marker-group: after;
}
#carousel2::-webkit-scrollbar{
    display: none;
}
#carousel2::scroll-marker-group{
    display: flex;
    gap: .3em;
    justify-content: center;
}
#carousel2::scroll-button(right),#carousel2::scroll-button(left){
    content: '>';
    border: none;
    font-family: Consolas;
    font-size: 1.5rem;
    color: rgb(17, 248, 109);
    font-weight: bold;
    height: 30px;
    width: 30px;
    padding-bottom: .1em;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel2;
    position-area: right bottom;
    translate: -200%;
}
#carousel2::scroll-button(left){
    content: '<';
    translate: -500%;
    position-area: right bottom;
}
#carousel2::scroll-button(right):disabled,#carousel2::scroll-button(left):disabled{
    color: rgb(104, 104, 104);
}
.latest-book{
    flex: 0 0 100%;
    scroll-snap-align:center ;
}
.latest-book::scroll-marker{
    content: "";
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(134, 134, 134);
}
.latest-book::scroll-marker:target-current{
    background-color: var(--baseColor);
}
/* Home V2 Carousel */
#headerV2{
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --headerV2;
    scroll-marker-group: after;
}
#headerV2::-webkit-scrollbar{
    display: none;
}
#headerV2::scroll-button(right),#headerV2::scroll-button(left){
    content: '>';
    border: none;
    font-family: Consolas;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 40px;
    width: 40px;
    z-index: 20;
    background-color:var(--baseColor);
    padding-bottom: .1em;
    border-radius: 10%;
    cursor: pointer;
    position: fixed;
    position-anchor: --headerV2;
    position-area: right center;
    translate: -110%;
    transition: all 0.3s ease;

}
#headerV2::scroll-button(left){
    content: '<';
    translate: 110%;
    position-area: left center;
}
#headerV2::scroll-button(right):disabled,#headerV2::scroll-button(left):disabled{
    color: rgb(179, 177, 177);
}
#headerV2::scroll-button(right):hover,#headerV2::scroll-button(left):hover{
    background-color: var(--comp);
}
#headerV2::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: .5em;
   margin-bottom: 30px;
}
.header-books::scroll-marker{
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;

}
.header-books::scroll-marker:target-current{
    background-color: var(--baseColor);
}
.header-books{
    flex:0 0 100%;
    scroll-snap-align:center ;
}
/* Custom Styling the checkout seciton */
#Checkout input{
    border: 1px solid rgba(128, 128, 128, 0.412);
}
.blurred{
     filter: blur(5px);
     transition: filter 0.3s ease;
}
/* Modal styles */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
/* Custom Styling the OrderComplete section */

#orderComplete {
    backdrop-filter: blur(4px);

}

.animate_scale {
    animation: animate_scale ease;
}

/* Custom Styling the Footer*/
#FooterLinks ul li{
    line-height: 1.7;
}
/* Custom styling the data loading buttons */
.loading-btn:disabled,
button[disabled] {
 display: none;
}

/* Custom Styling all the inputs in the site */
input{
    transition: all 0.3s ease;
}

textarea{
    resize: none;
}
/* Custom styling newsletter component */
.bg-myGradient{
    background: linear-gradient(103deg, var(--baseColor) 40%,rgb(219, 219, 219));
}

/* Custom Animations */

@keyframes animate_scale {
    from {
        scale:1;
    }
    to{
            scale: 1.3;
        }
}