@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --baseColor: #24BF6C;
    --lighter: #22c55e;
}
body{
    overflow-x: hidden;
}
.font-inter {
    font-family: "Inter";
}
.font-kavoon {
    font-family: "Kavoon";
}
.font-poppins {
    font-family: "Poppins";
}
.font-merri {
    font-family: "Merriweather";
}
/*Navbar Custom Styles*/

#Logo {
    font-family: 'Kavoon';
    font-weight: 700;
}
#Menu li{
    cursor: pointer;
    font-family: "Inter";
}
#Menu li:hover {
      transition: all 0.3s ease;
      color:  var(--baseColor);
}

/* Home Page Custom Styling */
#Home{
    background-image: url('./assets/body-bg.png');
    background-size: cover;

}
#TitleText {
    line-height: 1.1;
}
.u-btn{
    background-color: var(--baseColor);
    padding: 10px 8px;
    font-family: 'Inter';
    font-weight: 500;
    color: white;
    transition: all 0.2s ease;
}
.u-btn3{
    padding: 10px 8px;
    font-family: 'Inter';
    font-weight: 400;
    color: white;
    transition: all 0.2s ease;
    border: solid 1px  var(--baseColor);
}
.u-btn3:hover{
    background: var(--baseColor);
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
    appearance: textfield;
   -moz-appearance: textfield;
}
/*Making a custom bg for popular categories component*/
.fade-bg{
    background:linear-gradient(to right,white,rgba(128, 128, 128, 0.579),white);
}


@media (max-width: 1024px) {
    #Home{
    background-image: url('./assets/body-bg-phone.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.u-btn{
    padding: 10px 8px;
    font-size: 14px;
}
}
.u-btn2 {
   color: rgb(214, 16, 16);
    padding: 5px 10px;
    font-family: 'Inter';
    font-weight: 500;

}
.u-btn:hover {
    color: black;
}
.u-btn2:hover {
    color: rgb(87, 84, 84);
}

#catContainer{
    overflow-x: auto;
}
#catContainer::-webkit-scrollbar{
    display: none;
}
/* Custom styling the book card */


.pageMoveBtn{
background-color: black;
color: white;
}
/* Custom Carousel with only css*/
#carousel{
    overflow-x: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1em;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    anchor-name: --carousel;
}
#carousel::scroll-button(right),#carousel::scroll-button(left){
    content: '>';
    border: none;
    font-family: Consolas;
    font-size: 3rem;
    color: rgb(17, 248, 109);
    height: 60px;
    width: 60px;
    padding-bottom: .1em;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -100%;

}
#carousel::scroll-button(right):disabled,#carousel::scroll-button(left):disabled{
    color: rgb(104, 104, 104);
}
#carousel::-webkit-scrollbar{
    display: none;
}
#carousel::scroll-button(left){
    content: '<';
    position-area: left center;
    translate: 100%;
}
.carousel-item{
    scroll-snap-align: center;
    padding: .5em;
    flex: 0 0 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}

/* Custom Styling the checkout seciton */
#Checkout input{
    border: 1px solid rgba(128, 128, 128, 0.412);
}
.blurred{
     filter: blur(5px);
     transition: filter 0.3s ease;
}
/* Modal styles */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
/* Custom Styling the OrderComplete section */

#orderComplete {
    backdrop-filter: blur(4px);
}

.animate_scale {
    animation: animate_scale ease;
}

/* Custom Styling the Footer*/
#FooterLinks ul li{
    line-height: 1.7;
}
/* Custom styling the data loading buttons */
.loading-btn:disabled,
button[disabled] {
 display: none;
}

/* Custom Styling all the inputs in the site */
input{
    transition: all 0.3s ease;
}

textarea{
    resize: none;
}
/* Custom styling newsletter component */
.bg-myGradient{
    background: linear-gradient(103deg, var(--baseColor) 40%,rgb(219, 219, 219));
}

/* Custom Animations */

@keyframes animate_scale {
    from {
        scale:1;
    }
    to{
            scale: 1.3;
        }
}